// VARIABLES

  // COLOURS

    @red:             #930000;
    @red-lt:          lighten(@red,10%);
    @red-dk:          darken(@red,10%);

    @rebecca:         #663399;
    @rebecca-lt:      lighten(@rebecca,20%);
    @rebecca-dk:      darken(@rebecca,20%);

    @grey:            #666666;
    @grey-lt:         lighten(@grey,20%);
    @grey-dk:         darken(@grey,20%);

    @black:           #333333;
    @black-lt:    		lighten(@black,10%);
    @black-dk:        darken(@black,20%);

    @white:           #eeeeee;
    @white-lt:        #ffffff;
    @white-dk:        #dddddd;


  // FONTS 

    @headline:        Open Sans Condensed, serif;
    @bodytext:        Playfair Display, sans-serif;
    @codefont:        Inconsolata, sans-serif;
    @icomoon:         icomoon, sans-serif;
  
  // WIDTHS

    @colwidth:        32rem;
    @unit:            1rem;

  // SUPERVARIABLES

    @border-colour: 	@grey-dk;
    @bg-colour: 		  @white;
    @text-colour:     @black-lt;

    @link: 				    @red;
    @link-hover:      @red-lt;
    @link-active: 		@red-dk;

// CSS RESET

  // http://meyerweb.com/eric/tools/css/reset/ 
  // v2.0 | 20110126
  // License: none (public domain)


  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed, 
  figure, figcaption, footer, header, hgroup, 
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font-weight: normal;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure, 
  footer, header, hgroup, menu, nav, section {
    display: block;
  }
  body {
    line-height: 1;

  }
  ol, ul {
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  a {
    text-decoration: none;

    &:active,
    &:focus,
    &:hover {
      text-decoration: none;
    }
  }    

// @FONT-FACE
  
  @font-face {
  font-family: 'icomoon';
  src:url('fonts/icomoon.eot?7r4r6y');
  src:url('fonts/icomoon.eot?#iefix7r4r6y') format('embedded-opentype'),
    url('fonts/icomoon.woff?7r4r6y') format('woff'),
    url('fonts/icomoon.ttf?7r4r6y') format('truetype'),
    url('fonts/icomoon.svg?7r4r6y#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  }

// SITE

  html{
    font-size: 18px;
    background: @bg-colour;
    color: @text-colour;
    font-family: @bodytext;
    box-sizing: border-box;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }

  body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  .container{
    width: @colwidth;
    margin: @unit auto;
    background: @bg-colour;
    flex: 1;
  }

// LINKS

  a{
    transition: all .2s;
    color: @link;
    text-decoration: none;
  }

  a:hover{
    color: @link-hover;
  }

  a:active{
    color: @link-active;
  }

// TYPOGRAPHY

  h1, h2, h3, h4, p, nav, section, article, footer{
    -webkit-font-smoothing: antialiased;
  }

  h1, h2{
    display: block;
    width: 100%;
    font-family: @headline;
    font-weight: 300;
  }

  h1{
    font-size: 1.7rem;
    padding: @unit 0;

    a{
      color: @text-colour;
    }
  }

  h2{
    font-size: 1.5rem;
    margin-bottom: @unit;
  }

  h3{
    text-align: right;
    width: 100%;

    a{
      border: none !important;
    }

    a:after{
      font-family: @icomoon;
      content: "\f101";
      margin-left: .3rem;
      position: relative;
      top: .1rem;
      display: inline-block;
    }
  }

  h4{
    color: @grey;
    margin: @unit 0;
    font-size: .9rem;
  }

  p{
    line-height: 1.6;
    margin: 0 0 .8rem 0;
  }

  p:nth-child(3) {
    font-style: italic;
  }
  em{
    font-style: italic;
  }

  code{
    border-radius: .2rem;
    background: @grey-dk;
    font-family: @codefont;
    font-size: 1rem;
    color: @white;
    -webkit-font-smoothing: aliased;
    display: block;
    margin: @unit 0;
    padding: @unit;
    line-height: 1.4;
  }

  code.inline{
    display: inline-block;
    padding: 0 @unit/2;
    margin: 0 @unit/2;
  }

  .rss-feed{
    
  }

  .rss-feed:hover {
    color: orange;
  }

  .rss-feed::before{
    font-family: @icomoon;
    content: '\e602';
    padding-right: @unit/4;
  }

  blockquote {
    padding-left: @unit;
    border-left: medium solid @white-dk;
    margin: @unit*2 0;

    p{
      margin: @unit/2 0; 
    }
  }

  strong{
    font-weight: 600;
  }

// HEADER

  header{
    padding: @unit*2 @unit;
    background: @grey-dk;
    color: @grey-lt;
    font-family: @headline;
    width: auto;

    h1, h2{
      display: block;
      width: @colwidth;
      margin: auto;
    }

    a{
      color: @grey-lt;
      display: inline-block;
    }

    h1{
      font-size: 3rem;

      a{
        width: auto;
      }

      a:hover{
        color: @white-dk;
      }

      a::before, a::after{
        border-top: medium solid @white;
        content: '';
        display: block;
        transition: .2s all;
        opacity: 0;
        transform: translateY(.1rem);
      }
      
      a::before{
        
      }

      a::after{

      }

      a:hover::before{
        transform: translateY(3.4rem);
      }

      a:hover::after{
        transform: translateY(-3.2rem);
      }


      a:hover::before, a:hover::after{
        opacity: .6;
        padding: 0 @unit;
      }
    }

    h2{
      font-size: 1.5rem;
      padding: 0 0 @unit 0;
    }  
  }

// NAVIGATION

  nav{
    width: @colwidth;
    padding: 0;
    margin: auto;
    font-size: 1.3rem;


    ul{
      display: flex;
      

      li{
        display: inline-block;
        flex: auto;

        a{
          margin: .5rem;
          padding: .5rem;
        }

        a:hover{
          color: @white-lt;
        }

        .active{
          color: @white-dk;
        }

        .active::before{
          font-family: @icomoon;
          // font-size: 1.3rem;
          content: '\e60b';
          line-height: 0;
          position: relative;
          top: .1rem;
          // left: -.4rem;
          color: @white-dk;
          // display: inline-block;
          text-align: left;

        }

      }

      li:first-child{
        

        a{
          margin-left: 0;
          padding-left: 0;
        }
      }
    }
  }

// MAIN SECTION

  section{
    margin: @unit 0 @unit*4;
    padding: @unit;
    clear: both;
    flex: 1;
    width: auto;
    position: relative;
    // left: -@unit;
    

    ul{
      
    }

    li{
      line-height: 1.4;
      margin: 0 0 .8rem 0;
    }

    li::before{
      font-family: @icomoon;
      content: '\e61d';
      color: @red;
      margin-right: .3rem;
    }

    article{
      margin: auto;
      padding: 0;
      width: @colwidth;
    }

    figure{
      margin: @unit 0;
      padding: 0 0 @unit/2 0;
      border-bottom: thin solid @white-dk;

      figcaption{
        padding: .2rem 0 .1rem 0;
        color: @grey;
        text-align: right;

        strong{
          font-weight: 700;
        }

        strong:after{
          content: ' ... ';
        }
      }
    }

    img{
      width: 100%;
      background: @white-dk;
      border: none;
    }

    .error{
      display: block;
      width: 100%;
      margin: .6rem 0 2rem;
      padding: 0 @unit @unit;
      border: thin solid @grey-lt;
      background: @white-dk;
      text-align: center;
      box-shadow: 0 0 2rem -.4rem @black;

      span{
        display: block;
        font-size: 14rem;
        line-height: 1;
        margin-top: -3rem;
        letter-spacing: -@unit;
      }
    }
  }

// GALLERY

  .gallery {

    article{
      display: flex;
      flex-flow: row wrap;
      align-items: flex-start;
    }

    a.gallery-item{
      justify-content: space-between;
      float: left;
      margin: 0 .47@unit .7rem .47@unit;
      border-bottom: thick solid @link;
      transition: all .2s;
      width: auto;

      img{
        -webkit-filter: grayscale(.95);
        -filter: grayscale(.95);
      }
      span{
        width: inherit;
        display: inline-block;
      }
    }

    a.gallery-item:nth-child(3n+3){
      
    }

    a:hover{
      border-color: @link-hover;

      img{
        -webkit-filter: grayscale(0);
        -filter: grayscale(0);
      }
    }

    img{
      float: left;
    }
  }

// BLOG

  .blog{

    span{
      display: block;
      margin-bottom: 3rem;
    }

    h1 {
      
    }
    
    h2{

      a:after {
        content: "\e60b"; // Align Left
        font-family: @icomoon;
        margin-left: 0rem;
        position: relative;
        top: .2rem;
      }    
    }

    .pagination {
      font-size: 100%;
      border-top: medium solid @white-dk;
      border-bottom: medium solid @white-dk;
      padding: @unit 0;
      margin-top: @unit*3;
      float: left;

      .prev{
        float: left;
      }

      .prev::before{
        font-family: @icomoon;
        content: '\e608';
        position: relative;
        top: .2rem;
      }

      .next{
        float: right;
      }

      .next::after{
        font-family: @icomoon;
        content: '\e60b';
        position: relative;
        top: .2rem;
      }
    }

    .blog-item{
      margin-bottom: @unit*2;

      h2{
        border-top: thin solid @white-dk;
        padding-top: @unit;
      }

      .blog-thumb{
        width: 188px;
        height: 188px;
        float: left;
        background: @white-dk;
        margin: 0 @unit 0 0;
      }

      .read-more{
        text-align: right;
        width: 100%;
        display: block;
      }

      .read-more::after{
        font-family: @icomoon;
        content: '\e60b';
        position: relative;
        top: .2rem;
      }
    }
  }

  .blogarticle {

    time {
      color: @grey;
      padding: @unit 0;
      font-size: .9rem;
    }

    time::before {
      content: 'Published: ';
      color: @grey-lt;
    }

    .back-blog-index {
      border-top: medium solid @white-dk;
      padding: @unit 0;
      margin-top: @unit;
      display: block;
    }

    .back-blog-index::before {
      font-family: @icomoon;
      content: '\e608';
    }
  }

// CONTACT FORM

  .contact{

    label{
      display: block;
      font-size: .9rem;
      margin: 0 0 .3rem 0;
    }

    input, textarea{
      width: 100%;
      max-width: 100%;
      padding: .4rem;
      margin: 0 0 @unit 0;
      font-size: @unit;
      font-family: @bodytext;
      background: @white-dk;
      border: thin solid transparent;
      // transition: all .2s;
      border-radius: 0;
    }

    input:focus, textarea:focus{
      background: @white;
      border: thin solid @grey;
    }

    input[type=submit]{
      -webkit-appearance: none;
      width: 100%;
      padding: @unit 4rem;
      font-size: 1.2rem;
      background: @link;
      color: @white;
      cursor: pointer;
      border: 0;
      border-bottom: thick solid @red-dk;
      transition: all .2s;
      font-family: @bodytext;
    }

    input[type=submit]:hover, input[type=submit]:focus{
      background: @link-hover;
      border-bottom: thick solid @red-dk;
    }

    textarea{
      min-height: 5rem;
    }

    .required{
      color: @red;
      font-weight: 700;
    }

    #errors{
      color: red;
      display: none;
    }

    #success{
      display: none;
    }

    #errors.visible, #success.visible {
      display:block;    
    }
  }

// FOOTER

  footer{
    width: auto;
    background: @grey-dk;
    padding: @unit*2 0 @unit*3 0;
    margin: 2rem 0 0 0;
    clear: both;
    color: @grey-lt;
    // font-size: .9rem;
    font-family: @headline;

    ul{
      margin: auto;
      text-align: center;
      display: flex;
      width: @colwidth;
      border-top: thin solid @grey;
      padding: @unit 0;

      li{
        display: inline;
        // padding: 0 .6rem;
        flex: auto;
      }

 

      li:last-child{
        border: 0;
      }
    }

    a{
      color: @white-dk;
    }

    a:hover{
      color: @white-lt;
    }

    form{
      width: 100%;
      margin: @unit auto;
      display: block;
      text-align: center;

      h3, h4{
        padding: @unit/2 0;
      }

      h3{
        font-size: 1.3rem;
        text-align: center;
      }

      h3:before{
        content: "\e613";
        font-family: @icomoon;
        margin-right: .4rem;
        position: relative;
        top: .1rem;

      }

      h4{
        color: @grey;
        font-size: 1rem;
        margin: 0;
      }

      .searchfield{
        width: 18rem;
        height: 2.2rem;
        text-align: center;
        padding: .5rem;
        transition: all .5s;
        font-family: @bodytext;
        font-size: @unit;
        color: @black-lt;
        background: @grey-lt;
        border-radius: 2rem;
        border: thin solid transparent;
      }


      .searchfield:focus{
        width: 22rem;
        background: @white;
        outline: none;
      }

      ::-webkit-input-placeholder { color:@grey; }
      ::-moz-placeholder { color:@grey; } /* firefox 19+ */
      :-ms-input-placeholder { color:@grey; } /* ie */
      input:-moz-placeholder { color:@grey; }

      .searchbutton{
        display: none;
        visibility: hidden;
      }
    }
  }

  

// MEDIAQUERIES

  // remove Mobile Test
  @media only screen and (max-width : (@colwidth+8rem)) {
    @import "style-small.less";
  }
  
  @import "lightbox.less";

  @media only screen
  and (min-device-width : 320px)
  and (max-device-width : 480px) {
    @import "style-mobile.less";
  }

  @media only screen
  and (min-device-width : 768px)
  and (max-device-width : 1024px) {
    @import "style-tablet.less";
  }  


