/* line 52, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style\.less}line{font-family:\0000352}}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
/* line 73, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style\.less}line{font-family:\0000373}}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
/* line 77, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style\.less}line{font-family:\0000377}}
body {
  line-height: 1;
}
/* line 80, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style\.less}line{font-family:\0000380}}
ol,
ul {
  list-style: none;
}
/* line 83, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style\.less}line{font-family:\0000383}}
blockquote,
q {
  quotes: none;
}
/* line 86, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style\.less}line{font-family:\0000386}}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
/* line 91, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style\.less}line{font-family:\0000391}}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* line 95, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style\.less}line{font-family:\0000395}}
a {
  text-decoration: none;
}
/* line 98, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style\.less}line{font-family:\0000398}}
a:active,
a:focus,
a:hover {
  text-decoration: none;
}
@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?7r4r6y');
  src: url('fonts/icomoon.eot?#iefix7r4r6y') format('embedded-opentype'), url('fonts/icomoon.woff?7r4r6y') format('woff'), url('fonts/icomoon.ttf?7r4r6y') format('truetype'), url('fonts/icomoon.svg?7r4r6y#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* line 116, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style\.less}line{font-family:\00003116}}
html {
  font-size: 17px;
  background: #eeeeee;
  color: #4d4d4d;
  font-family: Playfair Display, sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 124, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style\.less}line{font-family:\00003124}}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
/* line 128, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style\.less}line{font-family:\00003128}}
body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
/* line 136, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style\.less}line{font-family:\00003136}}
.container {
  width: 36rem;
  margin: 1rem auto;
  background: #eeeeee;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
/* line 143, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style\.less}line{font-family:\00003143}}
a {
  -webkit-transition: all .2s;
  transition: all .2s;
  color: #930000;
  text-decoration: none;
}
/* line 149, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style\.less}line{font-family:\00003149}}
a:hover {
  color: #c60000;
}
/* line 153, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style\.less}line{font-family:\00003153}}
a:active {
  color: #600000;
}
/* line 157, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style\.less}line{font-family:\00003157}}
em {
  font-style: italic;
}
/* line 161, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style\.less}line{font-family:\00003161}}
code {
  padding: 0 .5rem;
  margin: 0 .5rem;
  border-radius: .2rem;
  border: thin dotted #999999;
  background: #333333;
  font-family: Inconsolata, sans-serif;
  font-size: .9rem;
  color: #eeeeee;
  display: inline-block;
}
/* line 173, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style\.less}line{font-family:\00003173}}
code.block {
  display: block;
  margin: 1rem 0;
}
/* line 178, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style\.less}line{font-family:\00003178}}
header {
  padding: 2rem 0 1rem 0  ;
}
/* line 181, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style\.less}line{font-family:\00003181}}
header h1,
header h2 {
  font-family: Open Sans Condensed, serif;
}
/* line 185, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style\.less}line{font-family:\00003185}}
header h1 {
  font-size: 3rem;
  font-weight: 300;
  margin: 0 0 1rem 0;
}
/* line 190, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style\.less}line{font-family:\00003190}}
header h1 a {
  color: #4d4d4d;
  padding: .1rem 0 0rem 0;
}
/* line 195, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style\.less}line{font-family:\00003195}}
header h1 a:hover {
  color: #930000;
  border-top: medium solid #930000;
  border-bottom: medium solid #930000;
}
/* line 202, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style\.less}line{font-family:\00003202}}
header h2 {
  font-size: 1.4rem;
  margin: 1rem 0;
}
/* line 207, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style\.less}line{font-family:\00003207}}
header nav {
  width: 100%;
  padding: 1rem 0;
  border-top: medium solid #dddddd;
}
/* line 215, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style\.less}line{font-family:\00003215}}
header nav ul {
  display: block;
}
/* line 219, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style\.less}line{font-family:\00003219}}
header nav ul li {
  display: inline-block;
  float: left;
}
/* line 224, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style\.less}line{font-family:\00003224}}
header nav ul li a {
  margin: .5rem;
  padding: .5rem;
}
/* line 229, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style\.less}line{font-family:\00003229}}
header nav ul li .active {
  background: #ffffff;
}
/* line 246, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style\.less}line{font-family:\00003246}}
header nav ul.submenu {
  clear: both;
  padding-top: 0;
  border-top: thin solid #dddddd;
}
/* line 251, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style\.less}line{font-family:\00003251}}
header nav ul.submenu li {
  margin-top: .5rem;
}
/* line 260, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style\.less}line{font-family:\00003260}}
section {
  margin: 1rem 0 3rem 0;
  clear: both;
}
/* line 264, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style\.less}line{font-family:\00003264}}
section h1,
section h2 {
  display: block;
  width: 100%;
  font-family: Open Sans Condensed, serif;
}
/* line 270, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style\.less}line{font-family:\00003270}}
section h1 {
  font-size: 1.7rem;
  font-weight: 300;
  padding: 1rem 0;
  border-top: medium solid #dddddd;
}
/* line 276, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style\.less}line{font-family:\00003276}}
section h1 a {
  color: #4d4d4d;
}
/* line 281, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style\.less}line{font-family:\00003281}}
section h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
/* line 286, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style\.less}line{font-family:\00003286}}
section h3 {
  text-align: right;
  width: 100%;
}
/* line 290, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style\.less}line{font-family:\00003290}}
section h3 a {
  border: none !important;
}
/* line 294, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style\.less}line{font-family:\00003294}}
section h3 a:after {
  font-family: icomoon, sans-serif;
  content: "\f101";
  margin-left: .3rem;
  position: relative;
  top: .1rem;
  display: inline-block;
}
/* line 304, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style\.less}line{font-family:\00003304}}
section h4 {
  color: #666666;
  margin: 1rem 0;
  font-size: .9rem;
}
/* line 310, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style\.less}line{font-family:\00003310}}
section p {
  line-height: 1.6;
  margin: 0 0 .8rem 0;
}
/* line 315, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style\.less}line{font-family:\00003315}}
section p:nth-child(2) {
  font-style: italic;
}
/* line 323, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style\.less}line{font-family:\00003323}}
section li {
  list-style-type: disc;
  line-height: 1.4;
  margin: 0 0 .8rem 1.2rem;
}
/* line 333, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style\.less}line{font-family:\00003333}}
section figure {
  margin: 0 0 1rem 0;
  padding: 0 0 .5rem 0;
  border-bottom: thin solid #dddddd;
}
/* line 338, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style\.less}line{font-family:\00003338}}
section figure figcaption {
  font-size: .9rem;
  padding: .2rem 0 .1rem 0;
  color: #999999;
  text-align: right;
}
/* line 344, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style\.less}line{font-family:\00003344}}
section figure figcaption strong {
  font-weight: 700;
}
/* line 348, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style\.less}line{font-family:\00003348}}
section figure figcaption strong:after {
  content: " ... ";
}
/* line 354, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style\.less}line{font-family:\00003354}}
section img {
  width: 100%;
}
/* line 358, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style\.less}line{font-family:\00003358}}
section .error {
  display: block;
  width: 100%;
  margin: .6rem 0 2rem;
  padding: 0 1rem 1rem;
  border: thin solid #999999;
  background: #dddddd;
  text-align: center;
  -webkit-box-shadow: 0 0 2rem -0.4rem #333333;
  box-shadow: 0 0 2rem -0.4rem #333333;
}
/* line 368, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style\.less}line{font-family:\00003368}}
section .error span {
  display: block;
  font-size: 14rem;
  line-height: 1;
  margin-top: -3rem;
  letter-spacing: -1rem;
}
/* line 382, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style\.less}line{font-family:\00003382}}
.intro p:nth-child(2) {
  font-style: italic;
}
/* line 389, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style\.less}line{font-family:\00003389}}
.gallery article {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
/* line 395, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style\.less}line{font-family:\00003395}}
.gallery a.gallery-item {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  float: left;
  margin: 0 .471rem .7rem .471rem;
  border-bottom: thick solid #930000;
  -webkit-transition: all .2s;
  transition: all .2s;
  width: auto;
}
/* line 403, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style\.less}line{font-family:\00003403}}
.gallery a.gallery-item img {
  -webkit-filter: grayscale(0.95);
  -filter: grayscale(0.95);
}
/* line 407, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style\.less}line{font-family:\00003407}}
.gallery a.gallery-item span {
  width: inherit;
  display: inline-block;
}
/* line 417, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style\.less}line{font-family:\00003417}}
.gallery a:hover {
  border-color: #c60000;
}
/* line 420, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style\.less}line{font-family:\00003420}}
.gallery a:hover img {
  -webkit-filter: grayscale(0);
  -filter: grayscale(0);
}
/* line 426, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style\.less}line{font-family:\00003426}}
.gallery img {
  float: left;
}
/* line 434, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style\.less}line{font-family:\00003434}}
.blog span {
  display: block;
  margin-bottom: 3rem;
}
/* line 441, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style\.less}line{font-family:\00003441}}
.blog h2 a:before {
  content: "\e61b";
  font-family: icomoon, sans-serif;
  margin-right: .5rem;
  font-size: .9rem;
  position: relative;
  top: -0.15rem;
}
/* line 451, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style\.less}line{font-family:\00003451}}
.blog article {
  border-top: thin solid #dddddd;
  margin-top: 1rem;
  padding-top: .5rem;
}
/* line 457, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style\.less}line{font-family:\00003457}}
.blog .blog-item {
  margin-bottom: 4rem;
}
/* line 461, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style\.less}line{font-family:\00003461}}
.blog article:nth-child(2) {
  border-top: 0;
}
/* line 465, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style\.less}line{font-family:\00003465}}
.blog blockquote {
  padding: .3rem 1rem;
  margin: 0 0 1rem 0;
  border-left: medium solid #dddddd;
}
/* line 476, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style\.less}line{font-family:\00003476}}
.contact label {
  display: block;
  font-size: .9rem;
  margin: 0 0 .3rem 0;
}
/* line 482, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style\.less}line{font-family:\00003482}}
.contact input,
.contact textarea {
  width: 100%;
  max-width: 100%;
  padding: .4rem;
  margin: 0 0 1rem 0;
  font-size: 1rem;
  font-family: Playfair Display, sans-serif;
  background: #dddddd;
  border: thin solid transparent;
  border-radius: 0;
}
/* line 495, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style\.less}line{font-family:\00003495}}
.contact input:focus,
.contact textarea:focus {
  background: #eeeeee;
  border: thin solid #666666;
}
/* line 500, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style\.less}line{font-family:\00003500}}
.contact input[type=submit] {
  -webkit-appearance: none;
  width: 100%;
  padding: 1rem 4rem;
  font-size: 1.2rem;
  background: #930000;
  color: #eeeeee;
  cursor: pointer;
  border: 0;
  border-bottom: thick solid #600000;
  -webkit-transition: all .2s;
  transition: all .2s;
  font-family: Playfair Display, sans-serif;
}
/* line 515, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style\.less}line{font-family:\00003515}}
.contact input[type=submit]:hover,
.contact input[type=submit]:focus {
  background: #c60000;
  border-bottom: thick solid #600000;
}
/* line 520, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style\.less}line{font-family:\00003520}}
.contact textarea {
  min-height: 5rem;
}
/* line 524, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style\.less}line{font-family:\00003524}}
.contact .required {
  color: #930000;
  font-weight: 700;
}
/* line 529, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style\.less}line{font-family:\00003529}}
.contact #errors {
  color: red;
  display: none;
}
/* line 534, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style\.less}line{font-family:\00003534}}
.contact #success {
  display: none;
}
/* line 538, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style\.less}line{font-family:\00003538}}
.contact #errors.visible,
.contact #success.visible {
  display: block;
}
/* line 545, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style\.less}line{font-family:\00003545}}
footer {
  width: 100%;
  background: #333333;
  padding: 2rem 0;
  margin: 2rem 0 0 0;
  clear: both;
  color: #999999;
  font-size: .8rem;
}
/* line 555, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style\.less}line{font-family:\00003555}}
footer ul {
  width: 60%;
  margin: auto;
  text-align: center;
}
/* line 560, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style\.less}line{font-family:\00003560}}
footer ul li {
  display: inline;
  padding: 0 .6rem;
  border-right: thin solid #dddddd;
}
/* line 565, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style\.less}line{font-family:\00003565}}
footer ul li .twitter-follow-button {
  position: relative;
  top: .3rem;
}
/* line 571, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style\.less}line{font-family:\00003571}}
footer ul li:last-child {
  border: 0;
}
/* line 576, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style\.less}line{font-family:\00003576}}
footer a {
  color: #dddddd;
}
/* line 580, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style\.less}line{font-family:\00003580}}
footer a:hover {
  color: #ffffff;
}
/* line 584, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style\.less}line{font-family:\00003584}}
footer form {
  width: 100%;
  margin: 2rem auto;
  display: block;
  text-align: center;
  /* firefox 19+ */
  /* ie */
}
/* line 590, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style\.less}line{font-family:\00003590}}
footer form h3,
footer form h4 {
  padding: .4rem;
}
/* line 594, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style\.less}line{font-family:\00003594}}
footer form h3 {
  font-size: 1.2rem;
}
/* line 598, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style\.less}line{font-family:\00003598}}
footer form h3:before {
  content: "\e613";
  font-family: icomoon, sans-serif;
  margin-right: .4rem;
  position: relative;
  top: .1rem;
}
/* line 607, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style\.less}line{font-family:\00003607}}
footer form h4 {
  color: #666666;
  font-size: .8rem;
}
/* line 612, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style\.less}line{font-family:\00003612}}
footer form .searchfield {
  width: 18rem;
  height: 2.5rem;
  text-align: center;
  padding: .5rem;
  -webkit-transition: all .2s;
  transition: all .2s;
  font-family: Playfair Display, sans-serif;
  font-size: 1rem;
  color: #4d4d4d;
  background: #999999;
  border-radius: 2rem;
  border: thin solid transparent;
}
/* line 627, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style\.less}line{font-family:\00003627}}
footer form .searchfield:focus {
  width: 22rem;
  background: #eeeeee;
  outline: none;
}
/* line 633, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style\.less}line{font-family:\00003633}}
footer form ::-webkit-input-placeholder {
  color: #666666;
}
/* line 634, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style\.less}line{font-family:\00003634}}
footer form ::-moz-placeholder {
  color: #666666;
}
/* line 635, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style\.less}line{font-family:\00003635}}
footer form :-ms-input-placeholder {
  color: #666666;
}
/* line 636, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style\.less}line{font-family:\00003636}}
footer form input:-moz-placeholder {
  color: #666666;
}
/* line 638, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style\.less}line{font-family:\00003638}}
footer form .searchbutton {
  display: none;
  visibility: hidden;
}
/* LIGHTBOX STYLES */
/* Preload images */
/* line 50, lightbox.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/lightbox\.less}line{font-family:\0000350}}
body:after {
  display: none;
}
/* line 55, lightbox.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/lightbox\.less}line{font-family:\0000355}}
.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  opacity: 0.8;
  display: none;
}
/* line 65, lightbox.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/lightbox\.less}line{font-family:\0000365}}
.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
}
/* line 75, lightbox.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/lightbox\.less}line{font-family:\0000375}}
.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
}
/* line 81, lightbox.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/lightbox\.less}line{font-family:\0000381}}
.lightbox a img {
  border: none;
}
/* line 87, lightbox.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/lightbox\.less}line{font-family:\0000387}}
.lb-outerContainer {
  position: relative;
  background-color: black;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
}
/* line 96, lightbox.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/lightbox\.less}line{font-family:\0000396}}
.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}
/* line 102, lightbox.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/lightbox\.less}line{font-family:\00003102}}
.lb-container {
  padding: 4px;
}
/* line 106, lightbox.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/lightbox\.less}line{font-family:\00003106}}
.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}
/* line 116, lightbox.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/lightbox\.less}line{font-family:\00003116}}
.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  content: "/f110";
  color: #eeeeee;
}
/* line 126, lightbox.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/lightbox\.less}line{font-family:\00003126}}
.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}
/* line 135, lightbox.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/lightbox\.less}line{font-family:\00003135}}
.lb-nav .nav {
  left: 0;
}
/* line 146, lightbox.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/lightbox\.less}line{font-family:\00003146}}
.lb-prev,
.lb-next {
  height: 100%;
  cursor: pointer;
  display: block;
}
/* line 153, lightbox.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/lightbox\.less}line{font-family:\00003153}}
.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  background: url(../img/prev.png) left 48% no-repeat;
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
  content: "/f104";
  color: #eeeeee;
}
/* line 165, lightbox.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/lightbox\.less}line{font-family:\00003165}}
.lb-nav a.lb-prev:hover {
  opacity: 1;
}
/* line 169, lightbox.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/lightbox\.less}line{font-family:\00003169}}
.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  background: url(../img/next.png) right 48% no-repeat;
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
  content: "/f105";
}
/* line 179, lightbox.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/lightbox\.less}line{font-family:\00003179}}
.lb-nav a.lb-next:hover {
  opacity: 1;
}
/* line 183, lightbox.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/lightbox\.less}line{font-family:\00003183}}
.lb-dataContainer {
  margin: 0 auto;
  *zoom: 1;
  width: 100%;
}
/* line 189, lightbox.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/lightbox\.less}line{font-family:\00003189}}
.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}
/* line 195, lightbox.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/lightbox\.less}line{font-family:\00003195}}
.lb-data {
  padding: 0;
  color: #666666;
  background: #000000;
  text-align: center;
  font-family: Playfair Display, sans-serif;
}
/* line 203, lightbox.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/lightbox\.less}line{font-family:\00003203}}
.lb-data .lb-details {
  width: 100%;
  padding: .5rem;
  line-height: 1.1rem;
  background: #000000;
}
/* line 210, lightbox.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/lightbox\.less}line{font-family:\00003210}}
.lb-data .lb-caption {
  font-size: .8rem;
  font-weight: 400;
  line-height: 1.2rem;
}
/* line 217, lightbox.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/lightbox\.less}line{font-family:\00003217}}
.lb-data .lb-number {
  display: block;
  clear: left;
  padding: 1em;
  font-size: 12px;
  color: #333333;
}
/* line 225, lightbox.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/lightbox\.less}line{font-family:\00003225}}
.lb-data .lb-close {
  display: block;
  float: right;
  width: 2rem;
  height: 2rem;
  background: url(../img/close.png) #930000 top right no-repeat;
  text-align: right;
  outline: none;
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
/* line 237, lightbox.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/lightbox\.less}line{font-family:\00003237}}
.lb-data .lb-close:hover {
  cursor: pointer;
  opacity: 1;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Smartphones (portrait and landscape) */
  /* line 47, style-mobile.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style-mobile\.less}line{font-family:\0000347}}
  html {
    font-size: 18px;
  }
  /* line 51, style-mobile.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style-mobile\.less}line{font-family:\0000351}}
  .container {
    width: 100%;
    padding: 0 1rem 1rem 1rem;
  }
  /* line 56, style-mobile.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style-mobile\.less}line{font-family:\0000356}}
  header {
    padding: 1rem 0 2rem 0;
  }
  /* line 59, style-mobile.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style-mobile\.less}line{font-family:\0000359}}
  header nav {
    position: relative;
  }
  /* line 62, style-mobile.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style-mobile\.less}line{font-family:\0000362}}
  header nav ul {
    width: auto;
    margin: auto;
  }
  /* line 66, style-mobile.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style-mobile\.less}line{font-family:\0000366}}
  header nav ul li {
    display: block;
    margin: 1rem 0;
    float: none;
  }
  /* line 79, style-mobile.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style-mobile\.less}line{font-family:\0000379}}
  header nav ul li:first-child {
    margin: inherit;
  }
  /* line 84, style-mobile.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style-mobile\.less}line{font-family:\0000384}}
  header nav ul:before {
    content: "\e61a";
    font-family: icomoon, sans-serif;
    font-size: 1.4rem;
    display: inline-block;
    width: 1.3rem;
    padding: 0 0 1.5rem 0;
    cursor: pointer;
  }
  /* line 94, style-mobile.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style-mobile\.less}line{font-family:\0000394}}
  header nav ul:after {
    content: "Menu";
    float: left;
    position: absolute;
    top: 0;
    padding: 0 0 .6rem 1.5rem;
    border-bottom: #999999 solid thin;
    cursor: pointer;
  }
  /* line 113, style-mobile.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style-mobile\.less}line{font-family:\00003113}}
  footer ul li {
    display: list-item;
    border: 0;
    padding: 0 0 .4rem 0;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* iPads (portrait and landscape) */
}
@media only screen and (max-width: 37rem) {
  /* Smartphones (portrait and landscape) */
  /* line 47, style-small.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style-small\.less}line{font-family:\0000347}}
  html {
    font-size: 18px;
  }
  /* line 51, style-small.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style-small\.less}line{font-family:\0000351}}
  .container {
    width: 100%;
    padding: 0 1rem 1rem 1rem;
  }
  /* line 56, style-small.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style-small\.less}line{font-family:\0000356}}
  header {
    padding: 1rem 0 2rem 0;
  }
  /* line 59, style-small.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style-small\.less}line{font-family:\0000359}}
  header nav {
    position: relative;
  }
  /* line 62, style-small.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style-small\.less}line{font-family:\0000362}}
  header nav ul {
    width: auto;
    margin: auto;
  }
  /* line 66, style-small.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style-small\.less}line{font-family:\0000366}}
  header nav ul li {
    display: block;
    margin: 1rem 0;
    float: none;
  }
  /* line 79, style-small.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style-small\.less}line{font-family:\0000379}}
  header nav ul li:first-child {
    margin: inherit;
  }
  /* line 84, style-small.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style-small\.less}line{font-family:\0000384}}
  header nav ul:before {
    content: "\e61a";
    font-family: icomoon, sans-serif;
    font-size: 1.4rem;
    display: inline-block;
    width: 1.3rem;
    padding: 0 0 1.5rem 0;
    cursor: pointer;
    position: relative;
    top: -0.1rem;
  }
  /* line 96, style-small.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style-small\.less}line{font-family:\0000396}}
  header nav ul:after {
    content: "Menu";
    float: left;
    position: absolute;
    top: 0;
    padding: 0 0 .6rem 1.5rem;
    border-bottom: #999999 solid thin;
    cursor: pointer;
  }
  /* line 115, style-small.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/anwarchoukahcom-kirby\/assets\/styles\/style-small\.less}line{font-family:\00003115}}
  footer ul li {
    display: list-item;
    border: 0;
    padding: 0 0 .4rem 0;
  }
}
/*# sourceMappingURL=style.css.map */