html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-weight: normal;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
}
a:active,
a:focus,
a:hover {
  text-decoration: none;
}
@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?7r4r6y');
  src: url('fonts/icomoon.eot?#iefix7r4r6y') format('embedded-opentype'), url('fonts/icomoon.woff?7r4r6y') format('woff'), url('fonts/icomoon.ttf?7r4r6y') format('truetype'), url('fonts/icomoon.svg?7r4r6y#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
html {
  font-size: 18px;
  background: #eeeeee;
  color: #4d4d4d;
  font-family: Playfair Display, sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.container {
  width: 32rem;
  margin: 1rem auto;
  background: #eeeeee;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
a {
  -webkit-transition: all .2s;
  transition: all .2s;
  color: #930000;
  text-decoration: none;
}
a:hover {
  color: #c60000;
}
a:active {
  color: #600000;
}
h1,
h2,
h3,
h4,
p,
nav,
section,
article,
footer {
  -webkit-font-smoothing: antialiased;
}
h1,
h2 {
  display: block;
  width: 100%;
  font-family: Open Sans Condensed, serif;
  font-weight: 300;
}
h1 {
  font-size: 1.7rem;
  padding: 1rem 0;
}
h1 a {
  color: #4d4d4d;
}
h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
h3 {
  text-align: right;
  width: 100%;
}
h3 a {
  border: none !important;
}
h3 a:after {
  font-family: icomoon, sans-serif;
  content: "\f101";
  margin-left: .3rem;
  position: relative;
  top: .1rem;
  display: inline-block;
}
h4 {
  color: #666666;
  margin: 1rem 0;
  font-size: .9rem;
}
p {
  line-height: 1.6;
  margin: 0 0 .8rem 0;
}
p:nth-child(3) {
  font-style: italic;
}
em {
  font-style: italic;
}
code {
  border-radius: .2rem;
  background: #333333;
  font-family: Inconsolata, sans-serif;
  font-size: 1rem;
  color: #eeeeee;
  -webkit-font-smoothing: aliased;
  display: block;
  margin: 1rem 0;
  padding: 1rem;
  line-height: 1.4;
}
code.inline {
  display: inline-block;
  padding: 0 0.5rem;
  margin: 0 0.5rem;
}
.rss-feed:hover {
  color: orange;
}
.rss-feed::before {
  font-family: icomoon, sans-serif;
  content: '\e602';
  padding-right: 0.25rem;
}
blockquote {
  padding-left: 1rem;
  border-left: medium solid #dddddd;
  margin: 2rem 0;
}
blockquote p {
  margin: 0.5rem 0;
}
strong {
  font-weight: 600;
}
header {
  padding: 2rem 1rem;
  background: #333333;
  color: #999999;
  font-family: Open Sans Condensed, serif;
  width: auto;
}
header h1,
header h2 {
  display: block;
  width: 32rem;
  margin: auto;
}
header a {
  color: #999999;
  display: inline-block;
}
header h1 {
  font-size: 3rem;
}
header h1 a {
  width: auto;
}
header h1 a:hover {
  color: #dddddd;
}
header h1 a::before,
header h1 a::after {
  border-top: medium solid #eeeeee;
  content: '';
  display: block;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
  opacity: 0;
  -webkit-transform: translateY(0.1rem);
  -ms-transform: translateY(0.1rem);
  transform: translateY(0.1rem);
}
header h1 a:hover::before {
  -webkit-transform: translateY(3.4rem);
  -ms-transform: translateY(3.4rem);
  transform: translateY(3.4rem);
}
header h1 a:hover::after {
  -webkit-transform: translateY(-3.2rem);
  -ms-transform: translateY(-3.2rem);
  transform: translateY(-3.2rem);
}
header h1 a:hover::before,
header h1 a:hover::after {
  opacity: .6;
  padding: 0 1rem;
}
header h2 {
  font-size: 1.5rem;
  padding: 0 0 1rem 0;
}
nav {
  width: 32rem;
  padding: 0;
  margin: auto;
  font-size: 1.3rem;
}
nav ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
nav li {
  display: inline-block;
  -webkit-box-flex: 1;
  -webkit-flex: auto;
  -ms-flex: auto;
  flex: auto;
}
nav a {
  margin: .5rem;
  padding: .5rem;
}
nav a:hover {
  color: #ffffff;
}
nav .active {
  color: #dddddd;
}
nav .active .submenu {
  display: block !important;
}
nav .active::before {
  font-family: icomoon, sans-serif;
  content: '\e60b';
  line-height: 0;
  position: relative;
  top: .1rem;
  color: #dddddd;
  text-align: left;
}
nav li:first-child a {
  margin-left: 0;
  padding-left: 0;
}
nav .submenu {
  display: none;
}
nav .submenu li {
  display: block;
}
section {
  margin: 1rem 0 4rem;
  padding: 1rem;
  clear: both;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: auto;
  position: relative;
}
section li {
  line-height: 1.4;
  margin: 0 0 .8rem 0;
}
section li::before {
  font-family: icomoon, sans-serif;
  content: '\e61d';
  color: #930000;
  margin-right: .3rem;
}
section article {
  margin: auto;
  padding: 0;
  width: 32rem;
}
section figure {
  margin: 1rem 0;
  padding: 0 0 0.5rem 0;
  border-bottom: thin solid #dddddd;
}
section figure figcaption {
  padding: .2rem 0 .1rem 0;
  color: #666666;
  text-align: right;
  font-size: .9rem;
  line-height: 1.4;
}
section figure figcaption strong {
  font-weight: 700;
}
section figure figcaption strong:after {
  content: ' ... ';
}
section img {
  width: 100%;
  background: #dddddd;
  border: none;
}
section .error {
  display: block;
  width: 100%;
  margin: .6rem 0 2rem;
  padding: 0 1rem 1rem;
  border: thin solid #999999;
  background: #dddddd;
  text-align: center;
  -webkit-box-shadow: 0 0 2rem -0.4rem #333333;
  box-shadow: 0 0 2rem -0.4rem #333333;
}
section .error span {
  display: block;
  font-size: 14rem;
  line-height: 1;
  margin-top: -3rem;
  letter-spacing: -1rem;
}
.gallery article {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.gallery a.gallery-item {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  float: left;
  margin: 0 0.47 1rem 0.7rem 0.47 1rem;
  border-bottom: thick solid #930000;
  -webkit-transition: all .2s;
  transition: all .2s;
  width: auto;
}
.gallery a.gallery-item img {
  -webkit-filter: grayscale(0.95);
  -filter: grayscale(0.95);
}
.gallery a.gallery-item span {
  width: inherit;
  display: inline-block;
}
.gallery a:hover {
  border-color: #c60000;
}
.gallery a:hover img {
  -webkit-filter: grayscale(0);
  -filter: grayscale(0);
}
.gallery img {
  float: left;
}
.blog span {
  display: block;
  margin-bottom: 3rem;
}
.blog h2 a {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  display: block;
}
.blog h2 a:hover {
  -webkit-transform: translateX(1rem);
  -ms-transform: translateX(1rem);
  transform: translateX(1rem);
}
.blog h2 a:after {
  content: "\e60b";
  font-family: icomoon, sans-serif;
  margin-left: 0rem;
  position: absolute;
  top: .2rem;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  display: inline-block;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}
.blog h2 a:hover::after {
  -webkit-transform: translateX(-1.5rem);
  -ms-transform: translateX(-1.5rem);
  transform: translateX(-1.5rem);
  left: 0;
}
.blog .pagination {
  font-size: 100%;
  border-top: medium solid #dddddd;
  border-bottom: medium solid #dddddd;
  padding: 1rem 0;
  margin-top: 3rem;
  float: left;
}
.blog .pagination .prev {
  float: left;
}
.blog .pagination .prev::before {
  font-family: icomoon, sans-serif;
  content: '\e608';
  position: relative;
  top: .2rem;
}
.blog .pagination .next {
  float: right;
}
.blog .pagination .next::after {
  font-family: icomoon, sans-serif;
  content: '\e60b';
  position: relative;
  top: .2rem;
}
.blog .blog-item {
  margin-bottom: 2rem;
}
.blog .blog-item h2 {
  border-top: thin solid #dddddd;
  padding-top: 1rem;
}
.blog .blog-item .blog-thumb {
  width: 188px;
  height: 188px;
  float: left;
  background: #dddddd;
  margin: 0 1rem 0 0;
}
.blog .blog-item .read-more {
  text-align: right;
  width: 100%;
  display: block;
}
.blog .blog-item .read-more::after {
  font-family: icomoon, sans-serif;
  content: '\e60b';
  position: relative;
  top: .2rem;
}
.blogarticle time {
  color: #666666;
  padding: 1rem 0;
  font-size: .9rem;
}
.blogarticle time::before {
  content: 'Published: ';
  color: #999999;
}
.blogarticle .back-blog-index {
  border-top: medium solid #dddddd;
  padding: 1rem 0;
  margin-top: 1rem;
  display: block;
}
.blogarticle .back-blog-index::before {
  font-family: icomoon, sans-serif;
  content: '\e608';
}
.contact label {
  display: block;
  font-size: .9rem;
  margin: 0 0 .3rem 0;
}
.contact input,
.contact textarea {
  width: 100%;
  max-width: 100%;
  padding: .4rem;
  margin: 0 0 1rem 0;
  font-size: 1rem;
  font-family: Playfair Display, sans-serif;
  background: #dddddd;
  border: thin solid transparent;
  border-radius: 0;
}
.contact input:focus,
.contact textarea:focus {
  background: #eeeeee;
  border: thin solid #666666;
}
.contact input[type=submit] {
  -webkit-appearance: none;
  width: 100%;
  padding: 1rem 4rem;
  font-size: 1.2rem;
  background: #930000;
  color: #eeeeee;
  cursor: pointer;
  border: 0;
  border-bottom: thick solid #600000;
  -webkit-transition: all .2s;
  transition: all .2s;
  font-family: Playfair Display, sans-serif;
}
.contact input[type=submit]:hover,
.contact input[type=submit]:focus {
  background: #c60000;
  border-bottom: thick solid #600000;
}
.contact textarea {
  min-height: 5rem;
}
.contact .required {
  color: #930000;
  font-weight: 700;
}
.contact #errors {
  color: red;
  display: none;
}
.contact #success {
  display: none;
}
.contact #errors.visible,
.contact #success.visible {
  display: block;
}
footer {
  width: auto;
  background: #333333;
  padding: 2rem 0 3rem 0;
  margin: 2rem 0 0 0;
  clear: both;
  color: #999999;
  font-family: Open Sans Condensed, serif;
}
footer ul {
  margin: auto;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 32rem;
  border-top: thin solid #666666;
  padding: 1rem 0;
}
footer ul li {
  display: inline;
  -webkit-box-flex: 1;
  -webkit-flex: auto;
  -ms-flex: auto;
  flex: auto;
}
footer ul li p {
  margin: 0;
  padding: 0;
  display: inline-block;
  line-height: 0;
}
footer ul li:last-child {
  border: 0;
}
footer a {
  color: #dddddd;
}
footer a:hover {
  color: #ffffff;
}
footer form {
  width: 100%;
  margin: 1rem auto;
  display: block;
  text-align: center;
  /* firefox 19+ */
  /* ie */
}
footer form h3,
footer form h4 {
  padding: 0.5rem 0;
}
footer form h3 {
  font-size: 1.3rem;
  text-align: center;
}
footer form h3:before {
  content: "\e613";
  font-family: icomoon, sans-serif;
  margin-right: .4rem;
  position: relative;
  top: .1rem;
}
footer form h4 {
  color: #666666;
  font-size: 1rem;
  margin: 0;
}
footer form .searchfield {
  width: 18rem;
  height: 2.2rem;
  text-align: center;
  padding: .5rem;
  -webkit-transition: all .5s;
  transition: all .5s;
  font-family: Playfair Display, sans-serif;
  font-size: 1rem;
  color: #4d4d4d;
  background: #999999;
  border-radius: 2rem;
  border: thin solid transparent;
}
footer form .searchfield:focus {
  width: 22rem;
  background: #eeeeee;
  outline: none;
}
footer form ::-webkit-input-placeholder {
  color: #666666;
}
footer form ::-moz-placeholder {
  color: #666666;
}
footer form :-ms-input-placeholder {
  color: #666666;
}
footer form input:-moz-placeholder {
  color: #666666;
}
footer form .searchbutton {
  display: none;
  visibility: hidden;
}
@media only screen and (max-width: 40rem) {
  /* Smartphones (portrait and landscape) */
  html {
    font-size: 18px;
  }
  .container {
    width: 100%;
    padding: 0 1rem 1rem 1rem;
  }
  header {
    padding: 1rem 0 2rem 0;
  }
  nav {
    position: relative;
  }
  nav ul {
    width: auto;
    margin: auto;
  }
  nav ul li {
    display: block;
    margin: 1rem 0;
    float: none;
  }
  nav ul li:first-child {
    margin: inherit;
  }
  nav ul:before {
    content: "\e61a";
    font-family: icomoon, sans-serif;
    font-size: 1.4rem;
    display: inline-block;
    width: 1.3rem;
    padding: 0 0 1.5rem 0;
    cursor: pointer;
    position: relative;
    top: -0.1rem;
  }
  nav ul:after {
    content: "Menu";
    float: left;
    position: absolute;
    top: 0;
    padding: 0 0 .6rem 1.5rem;
    border-bottom: #999999 solid thin;
    cursor: pointer;
  }
  footer ul li {
    display: list-item;
    border: 0;
    padding: 0 0 .4rem 0;
  }
}
/* LIGHTBOX STYLES */
.lb-cancel,
.lb-prev,
.lb-next,
.lb-close {
  font-family: icomoon, sans-serif;
}
.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  opacity: 0.8;
  display: none;
}
.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
}
.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
}
.lightbox a img {
  border: none;
}
.lb-outerContainer {
  position: relative;
  background-color: black;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
}
.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}
.lb-container {
  padding: 4px;
}
.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}
.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  content: "/f110";
  color: #eeeeee;
}
.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}
.lb-nav .nav {
  left: 0;
}
.lb-prev,
.lb-next {
  height: 100%;
  cursor: pointer;
  display: block;
}
.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
  content: "/f104";
  color: #eeeeee;
}
.lb-nav a.lb-prev:hover {
  opacity: 1;
}
.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
  content: "/f105";
}
.lb-nav a.lb-next:hover {
  opacity: 1;
}
.lb-dataContainer {
  margin: 0 auto;
  *zoom: 1;
  width: 100%;
}
.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}
.lb-data {
  padding: 0;
  color: #666666;
  background: #000000;
  text-align: center;
  font-family: Playfair Display, sans-serif;
}
.lb-data .lb-details {
  width: 100%;
  padding: .5rem;
  line-height: 1.1rem;
  background: #000000;
}
.lb-data .lb-caption {
  font-size: .8rem;
  font-weight: 400;
  line-height: 1.2rem;
}
.lb-data .lb-number {
  display: block;
  clear: left;
  padding: 1em;
  font-size: 12px;
  color: #333333;
}
.lb-data .lb-close {
  display: block;
  float: right;
  width: 2rem;
  height: 2rem;
  text-align: right;
  outline: none;
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.lb-data .lb-close:hover {
  cursor: pointer;
  opacity: 1;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Smartphones (portrait and landscape) */
  html {
    font-size: 18px;
  }
  .container {
    width: 100%;
    padding: 0 1rem 1rem 1rem;
  }
  header {
    padding: 1rem 0 2rem 0;
  }
  header nav {
    position: relative;
  }
  header nav ul {
    width: auto;
    margin: auto;
  }
  header nav ul li {
    display: block;
    margin: 1rem 0;
    float: none;
  }
  header nav ul li:first-child {
    margin: inherit;
  }
  header nav ul:before {
    content: "\e61a";
    font-family: icomoon, sans-serif;
    font-size: 1.4rem;
    display: inline-block;
    width: 1.3rem;
    padding: 0 0 1.5rem 0;
    cursor: pointer;
  }
  header nav ul:after {
    content: "Menu";
    float: left;
    position: absolute;
    top: 0;
    padding: 0 0 .6rem 1.5rem;
    border-bottom: #999999 solid thin;
    cursor: pointer;
  }
  footer ul li {
    display: list-item;
    border: 0;
    padding: 0 0 .4rem 0;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* iPads (portrait and landscape) */
}
